<nav class="navbar navbar-light bg-darky">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><img
                src="./images/logo_epoch.png" width="100px" alt=""></a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="background-color: rgba(0, 0, 0, 0.518);"
            class="offcanvas offcanvas-end" tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img
                        src="./images/logo_epoch.png" width="100px" alt="">
                </h5>
                <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <a href="/logout"><button type="submit">Logout</button></a>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">

                        <a class="nav-link active" aria-current="page"
                            href="/home" style="color: #d2ac47;">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/home/new" style="color: #d2ac47;">Add
                            Item</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>